@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
   letter-spacing: 1px;
}

body {
	font-family: Michroma;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.main {
	background-color: #dee9ff;
	width: 60vw;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	gap: 16px;
	padding: 32px;
	height: max-content;
	box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.contact-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 16px 24px;
	border-radius: 16px;
	font-size: 11px;
}

.mail,
.phoneNum,
.adress {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.mail svg {
	width: 14px;
	height: 11px;
}

.phoneNum svg {
	width: 12px;
	height: 12px;
}

.adress svg {
	width: 13px;
	height: 12px;
}

.icon-box {
	height: 100%;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
	color: black;
}

.headerBox {
	display: flex;
	padding: 16px;
	background-color: white;
	align-items: flex-start;
	gap: 16px;
	align-self: stretch;
	border-radius: 16px;
}

.imageBox img {
	width: 200px;
	height: 195px;
	border: 6px solid #b9cae4;
	box-shadow: 0 0 0 10px #b9cae4 inset;
	border-radius: 24px;
}

.imageBox {
	height: max-content;
	width: max-content;
}

.sidePanel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	flex: 1 0 0;
	align-self: stretch;
}

.sidePanel h1 {
	letter-spacing: 1.478px;
	text-transform: uppercase;
}

.subtitle {
	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	text-transform: uppercase;
	background: #b9cae4;
}

.intro {
	background-color: white;
	padding: 16px;
	border-radius: 16px;
	text-align: justify;
	font-size: 14px;
	line-height: 140%;
}

.content{
   background-color: white;
   border-radius: 16px;
   padding: 8px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.education{
   display: flex;
   flex-direction: column;
   padding: 16px;
   gap: 16px;
   background-color: #b9cae4;
   border-radius: 16px;
}

.schools{
   display: flex;
   justify-content: space-between;
   font-size: 14px;
}

.highSchool, .middleSchool{
   width: 50%;
}

.highSchool p, .middleSchool p, .placesOfExperience p{
   opacity: 0.7;
}

h4{
   text-transform: uppercase;
}

ul{
   list-style: none;
}

li{
   line-height: 220%;
}

.skills{
   display: flex;
   justify-content: space-between;
   gap: 16px;
}

.hardSkills, .softSkills{
   width: 50%;
   padding: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   border: 5px solid #b9cae4;
   border-radius: 16px;
   font-size: 14px;
}

i{
   margin-right: 8px;
   color: #414C74;
}

.wrapper{
   display: flex;
   gap: 16px;
}

.experience{
   border: 5px solid #b9cae4;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   padding: 16px;
   width: 50%;
}

.placesOfExperience{
   display: flex;
   flex-direction: column;
   font-size: 14px;
   gap: 16px;
}

.languages{
   width: 50%;
   padding: 16px;
   font-size: 14px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   border: 5px solid #b9cae4;
   border-radius: 16px;
}

.interests{
   padding: 16px;
   background-color:  #b9cae4;
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.list{
   font-size: 14px;
   display: flex;
   justify-content: space-between;
}

.list ul{
   width: 50%;
}